:root{
    --primary: #42275a;
    --secondary:#734b6d;
    --primary-form:#8e9eab;
    --secondary-form: #eef2f3;
    --btn-primary:#4568DC;
    --btn-secondary: #B06AB3;
    --box-primary: #fffc00;
    --box-secondary: #ffffff;
}
html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x:hidden;
    background: linear-gradient(135deg,var(--primary),var(--secondary));
}
.content{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: relative;
    top:50%
}
.books-container
{
    background: linear-gradient(135deg,var(--primary-form),var(--secondary-form));
    height: 70%;
    width: 50%;
    border-radius: 2%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text-container{
    position: absolute;
    height: fit-content;
    text-align: center;
    width: 100%;
    margin-top:1vh;

}
h1{
    font-family: "Bungee Shade";
    color:ghostwhite;
    font-size:3rem;
    text-shadow: deeppink 1px 0 10px;
}
.button-container
{
    height: 4vh;
    width: 2vw;
    position:absolute;
    top:90%
}
.button-container:hover
{
    width: fit-content;
    height: fit-content;
}
.add-button
{

    font-size:1rem;
    border-color: #42275a;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: linear-gradient(135deg,var(--btn-primary),var(--btn-secondary));
    font-family: "Bungee Shade";
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.add-button:hover::after{
content:" Add book";

}

.add-button:hover{
    border-radius: 12px;
    height: 5vh;
    width: 10vh;
}
.book-dialog{
    position: relative;
    height: 40%;
    width: 20%;
}
form{
    display:flex;
    flex-direction: column;
}
.box{
    text-align: center;
    height: 30vh;
    width: 10vw;
    background: linear-gradient(135deg,var(--box-primary),var(--box-secondary));
    border-radius:10%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.close-btn{
    border-radius:50%;
    background-color:red;
    color:white;
    position:relative;
    top:-75%;
    left:40%;
}